
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.logo_div{
   display: flex;
   justify-content: center;
   align-items: center;
}
.header_main_div{
    width: 100%;
    display: flex;
    align-items: center;
}
.header_trigger_div{
    width: fit-content;
    /* padding: 10px; */
    height: 100%;
     display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;
}
.header_content_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
     align-items: center;
}
.header_content_profile_div{
  display: flex;
  justify-content: space-between;
   padding-right: 30px;
}
.header_profile_div{
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
}
.header_contnet_name_div{
    padding-left: 20px;
}